@font-face {
    font-family: 'openSauce';
    src: url('opensaucesans-light-webfont.woff2') format('woff2'),
         url('opensaucesans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'openSauce';
    src: url('opensaucesans-medium-webfont.woff2') format('woff2'),
         url('opensaucesans-medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'openSauce';
    src: url('opensaucesans-regular-webfont.woff2') format('woff2'),
         url('opensaucesans-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'openSauce';
    src: url('opensaucesans-semibold-webfont.woff2') format('woff2'),
         url('opensaucesans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}