.App {
    background-color: #000711;
}

::-webkit-scrollbar {
    position: relative;
    z-index: 99;
    width: 5px;  
}
  
::-webkit-scrollbar-track {
    background: rgba(60, 60, 60, .7);
    border-width: 0;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(256, 256, 256, 0.2);
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(256, 256, 256, 0.6);
}